button {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 2.5em;
  font-weight: bold;
  color: 'white';
}

label#player,
label#result {
  font-size: 4em;
  font-weight: bold;
  margin: 10px;
}
