div#display {
  border: 1px solid #ccc;
  background: #f3f3f3;
  height: 100px;
  width: 430px;
  font-size: 6em;
  text-align: right;
  margin: 5px;
}
button {
  height: 100px;
  width: 100px;
  margin: 5px;
  font-size: 2em;
}
div#numeros,
div#operadores {
  float: left;
}
div#operadores {
}
